<div class="container" style="padding:50px;">
<h1><a>Socail Login + Manual Login with Ember Fire & Ember TORII </a></h1>
{{#unless session.isAuthenticated}}
<button class="btn btn-info" {{action "signIn"}}>sign in with facebook</button>
<button class="btn btn-primary" {{action "signInFire"}}>Sign In with firebase</button>
<p>If you don't have account <a {{action "signUpFire" }}>Sign up [Firebase]</a></p>
{{/unless}}
  <br>
{{#if session.isAuthenticated}}
  <div style="width:20%">
  <div class="card">
    <img class="card-img-top" src="{{user.photoURL}}" alt="" width="50">
    <div class="card-block">
        <h3 class="card-title">{{user.displayName}}</h3>
        <p class="card-text">{{user.email}}</p>
        <button class="btn btn-danger" {{action "signOut"}}>sign out</button>
    </div>
</div>
</div>
{{/if}}

{{outlet}}
</div>
